/*css para organizar o sumário do site*/
.link1{
    color:rgb(255, 0, 0);
}

.link2{
    color:rgb(0, 255, 255);
}

.link3{
    color:rgb(255, 251, 0);
}

.link4{
    color:rgb(10, 151, 22);
}

.link5{
    color:rgb(95, 20, 20);
}

.link6{
    color:rgb(255, 115, 0);
}